body {
    margin: 0;
    padding: 0;
}

.box {
    width: 100px;
    height: 50px;
    border: solid 2px aquamarine;
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
    color: blueviolet;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

button {
    margin-top: 20px;
}


.top {
    border-top: 0px;
}

.left {
    border-left: 0px;
}

.bot {
    border-bottom: 0px;
}

.right {
    border-right: 0px;
}